/* Root variables */

:root {
  --font-family: Inter, sans-serif;
  --accent-font-family: 'Press Start 2P', fantasy;
  --heart-color: #ff0000;

  --page-background: #fff;
  --background-color: #d3d3d3;
  --background-color-start: #e7e7e7;
  --background-color-end: #1a1a1a ;
  --font-weight-title: "wght" 700;
  --font-weight-text: "wght" 400;
  --background-image: 
    repeating-linear-gradient(90deg, var(--background-color), var(--background-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--background-color), var(--background-color) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(180deg, var(--background-color-start) 0.01%, var(--background-color-end)),
    linear-gradient(to bottom, var(--background-color-start), var(--background-color-end));
  --header-background: var(--page-background);
  --text-color: #000;
  --mix-blend-color: var(--page-background);
  --border-color: var(--text-color);
  --text-stroke-color: #fff;
}